@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #f8f8f8;
  font-family: 'Roboto', sans-serif;
}

section.chat_section {
  width: 800px;
  max-width: 90%;
  background: #fff;
  box-shadow: 0 10px 15px -3px;
}

.brand {
  padding: 20px;
  background: #444;
}

.message_area {
  height: 500px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-top: 40px;
}

#textarea {
  width: 90%;
  border: none;
  margin: 0.5rem 0;
  border-radius: 20px;
  padding: 20px;
  font-size: 16px;
  outline: none;
  background: #f2f2f2;
}

.message {
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 40px;
  max-width: 300px;
  min-width: 50px;
  word-wrap: break-word;
  position: relative;
}

.incoming {
  background: #8F88E8;
  color: #fff;
}

.outgoing {
  background: #e9eafd;
  margin-left: auto;
}

.center {
  /* background: rgba(0, 0, 0, 0.24); */
  text-align: center;
  margin-top: -20px;
  margin-bottom: 20px;
  /* border-radius: 20px; */
  /* margin: auto; */
  padding: 10px;
  position: relative;
}

.message h4 {
  position: absolute;
  top: -20px;
  right: 0;
  color: #333;
  font-size: 14px;
}

.send {
  display: flex;
  flex-direction: row;
}

.button {
  background: #444;
  border: none;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 6px;
  outline: none;
  font-size: 14px;
  color: #fff;
}

.button:hover {
  background-color: black;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

h
